body {
    background-color: #555555;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*lasts for 2seconds*/
    animation: slideUp 2s ease;
}

/*animation for container*/
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0; /* container starts container at bottom */
    }
    to {
        transform: translateY(0);
        opacity: 1; /* container ends at top*/
    }
}

.center {
    width: 70vh;
    padding: 2vh;
    border-radius: 15px;
    background-color: #333333;
    text-align: center;
    margin-top: 2%;
    background: linear-gradient(to bottom, #333333, #555555);
    border-bottom: none;
}

h2 {
    color: white;
}

p {
    color: white;
    opacity: 0; /* initially hide the paragraph */
    animation: fadeIn 0.5s ease 2s forwards; /* fade in the paragraph quickly so can read first */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.menu .btn {
    padding: 10px 50px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 2px;
    text-decoration:none;
    opacity: 0; /*hides the button*/
    /*fade animation*/
    animation: fadeIn 3s ease 4s forwards; /* longer fade in animation to give sometime to read */
}

.acknowledgement{
    animation: fadeIn 3s ease 2s forwards;
    color: #d1d1d1;
}



@media (max-width: 768px) {
    .center {
        width: 90%;
        margin-top: 10px;
    }

    .menu {
        flex-direction: column;
        margin-top: 20px;
    }
}



/* sss */

