<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Tutor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<body>

    <div class="container">
        <div class="center">
            <h2 style="font-weight: bold;">Learn Sign Language</h2>
            <p>Your Personal AI Tutor for Learn Sign Language. Powered by Computer Vision and Machine Learning</p>
            <br>
            <div class="menu">
                <div class="select-difficulty">
                    <a href="{{ url_for('difficulty') }}" class="btn">Start</a>
                </div>
            </div>
            <p class="acknowledgement">By pressing start, you are acknowledging and giving permission for the use of your webcam.</p>

        </div>
    </div>

</body>

</html>
