<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Tutor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles1.css">
</head>

<body>
    <div class="menu">
            <a href="{{ url_for('difficulty') }}" class="backbutton" >Back</a>
    </div>

    <div class="container">
        <div class="center">
            <div class="title"><h2>Difficulty Selected: {{ difficulty }}</h2></class>
                <p>{{ word_pool }}</p>
                <img src="{{ url_for('video_feed') }}" class="video-feed"/>
            <br>
        </div>
    </div>
</body>
</html>